In [35]:
# String Data Type
# String Constructor is str()
# string literal is '', "", """""", ''''''
# string is a set of sequance of character.
# string support indxting
# string support slicing
# stiring support concatination
# string is immutable of hashable data type
# string has variable methods

In [12]:
a= str()   # using constructor created a empty string
a

''

In [14]:
# using literal create empty string
b=''
print(type(b))
b

<class 'str'>

''

In [15]:
c=""
print(type(c))
c

<class 'str'>

''

In [16]:
d=""""""
print(type(d))
d

<class 'str'>

''

In [17]:
e=''''''
print(type(e))
e

<class 'str'>

''

In [10]:
print("tarun")
print("hello world")
10

tarun
hello world

10

In [18]:
# string support indxting
a="Tarun"
print(a)
print(type(a))

Tarun
<class 'str'>

In [19]:
b='Tarun'
print(b)
print(type(b))

Tarun
<class 'str'>

In [20]:
c="""Tarun"""
print(type(c))
print(c)

<class 'str'>
Tarun

In [21]:
d='''Tarun'''
print(d)
print(type(d))

Tarun
<class 'str'>

In [31]:
print("I am Tarun Mann")
print('I am Tarun Mann')

I am Tarun Mann
I am Tarun Mann

In [34]:
print("""I 
      am 
                    Tarun Mann""")
print('''I am 
        Tarun 
                Mann''')

I
      am
                    Tarun Mann
I am
        Tarun
                Mann

In [36]:
# string is a set of sequance of character.
# string support indxting

a="krishna"

In [37]:
print(a)

krishna

In [39]:
print(a[0])

k

In [40]:
print(a[-7])

k

In [41]:
a.index("k")

0

In [42]:
# string support slicing

In [43]:
print(a)

krishna

In [44]:
a[1:4]

'ris'

In [47]:
print(a[1:5:1])

rish

In [48]:
print(a[1:6:1])

rishn

In [49]:
print(a[1::1])

rishna

In [50]:
print(a[1::])

rishna

In [51]:
print(a[1:-2:])

rish

In [61]:
print(a[-1:-8:-1])

anhsirk

In [62]:
print(a[::-1])

anhsirk

In [63]:
a[::]

'krishna'

In [2]:
# stiring support concatination

first="Tarun"
second="Mann"

In [9]:
print(first + second) # This is concationation.

TarunMann

In [8]:
print("tarun","Mann",sep="")  # This is not concatination.

tarunMann

In [15]:
# Methods of String

a="krishna"
print(id(a))

1682946706608

In [16]:
b=a.upper()
print(id(b))
print(b)

1682946717744
KRISHNA

In [18]:
a.capitalize()

'Krishna'

In [19]:
print(a)

krishna

In [31]:
a="TarUnkU7@gmail.com"

In [30]:
a.upper()

'TARUNKU7@GMAI.COM'

In [25]:
a.capitalize()

'Tarunku7@gmail.com'

In [32]:
a.casefold()

'tarunku7@gmail.com'

In [34]:
print(a)

TarUnkU7@gmail.com

In [35]:
a.lower()

'tarunku7@gmail.com'