# Loop
    > for loop
        > nested for lood
        > single for loop with pattern
        > nested for loop with pattern
        > list comprehension
        > set comprehension
        > dictionary comprehension
        > tuple comprehension (generator)
        > frozenset comprehension
        > break
        > continue
        > pass
    > while loop
        > simple while loop
        > nested while loop
        > pattern using simple while loop
        > pattern using nested while loop
        > break
        > continue
        > pass

#  Q- Why we have two loops and what is the different in both loop?
#  A- Foor loop :- When you know the number of iteration.
      While loop:- When we don't know the number of iteration

# What is iterable?
    A data type which contain def --iter-- called iterable data type

# Example: string- str(), list-[], tuple(), set{}, dictionary-dict({}), frozenset()

# what is iterable and how will be detect?
  proof-> --itr--
ex: str():- for loop or while loop can run inside string data type.

    after placing element inside any data type --iter-- is seen then it is iterable.

# only mantion the number inside the "range()" funciton.

In [2]:
range(10)

range(0, 10)

In [3]:
range(0,10)

range(0, 10)

In [5]:
for i in range(10):     # i is initialise
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(0,10):
    print(i, sep=" ",end=", " )

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [18]:
a=[1,2,3,4,5,6,7,8,9]

In [19]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [23]:
b=[1,2,3,4,5]
for i in b:
    print(i)

1
2
3
4
5

In [26]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
for i in range(0,10,2):
    print(i, end=" ")

0 2 4 6 8

In [36]:
for i in range(0,10,2):
    print(i,"Hello World",sep=" & ",end="")

0 & Hello World2 & Hello World4 & Hello World6 & Hello World8 & Hello World

In [43]:
for i in range (0,10,3):
    print(i,"I am Tarun")

0 I am Tarun
3 I am Tarun
6 I am Tarun
9 I am Tarun

In [44]:
for i in range(1,6):
    print(i, "tarun")

1 tarun
2 tarun
3 tarun
4 tarun
5 tarun

In [46]:
for i in range(6,0,-1):
    print(i, "tarun")

6 tarun
5 tarun
4 tarun
3 tarun
2 tarun
1 tarun

In [47]:
for i in range(0,6):
    print((6-i), "tarun")

6 tarun
5 tarun
4 tarun
3 tarun
2 tarun
1 tarun

In [48]:
for i in "Tarun":     
    print(i)

T
a
r
u
n

In [63]:
a=frozenset()
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [64]:
for i in {1,2,3,4,5}:
    print(i)

1
2
3
4
5

In [66]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [72]:
for i in frozenset({1,2,3,4,5}):
    print(i)

1
2
3
4
5

In [74]:
for i in {1:"Tarun", 2:"Mohan", 3:"harsh"}:
    print(i)

1
2
3

In [81]:
for i in {1:"Tarun", 2:"Mohan", 3:"harsh"}.values():
    print(i)

Tarun
Mohan
harsh

In [82]:
for i in {1:"Tarun", 2:"Mohan", 3:"harsh"}.items():
    print(i)

(1, 'Tarun')
(2, 'Mohan')
(3, 'harsh')

# Patern

In [83]:
for i in range(0,5):
    print("*"*(i+1))

*
**
***
****
*****

In [84]:
print("*"*1)
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*5)

*
**
***
****
*****

In [86]:
print("*"*5)
print("*"*4)
print("*"*3)
print("*"*2)
print("*"*1)

*****
****
***
**
*

In [87]:
for i in range(0,5):
    print("*"*(5-i))

*****
****
***
**
*

In [92]:
print(" "*1+"*"*5)
print(" "*2+"*"*4)
print(" "*3+"*"*3)
print(" "*4+"*"*2)
print(" "*5+"*"*1)

 *****
  ****
   ***
    **
     *

In [166]:
for i in range(0,5):
    print(" "*i+"* "*(5-i))

* * * * *
 * * * *
  * * *
   * *
    *

In [98]:
print(" "*5+"*"*1)
print(" "*4+"*"*2)
print(" "*3+"*"*3)
print(" "*2+"*"*4)
print(" "*1+"*"*5)

     *
    **
   ***
  ****
 *****

In [167]:
for i in range(0,5):
    print(" "*(4-i)+"* "*(i+1))

    *
   * *
  * * *
 * * * *
* * * * *

In [171]:
for i in range(0,9):
    if i<5:
        print(" "*(i)+"*"*(5-i))
    else:
        print(" "*(8-i)+"*"*(i-3))

*****
 ****
  ***
   **
    *
   **
  ***
 ****
*****

In [139]:
for i in range(0,9):
    if i<5:
        print("*"*(5-i))
    else:
        print("*"*(i-3))

*****
****
***
**
*
**
***
****
*****

In [144]:
print("*"*1)
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*5)
print("*"*4)
print("*"*3)
print("*"*2)
print("*"*1)

*
**
***
****
*****
****
***
**
*

In [155]:
for i in range(0,9):
    if i<5:
        print("*"*(i+1))
    else:
        print("*"*(9-i))

*
**
***
****
*****
****
***
**
*

In [170]:
for i in range(0,9):
    if i<5:
        print(" "*i+"* "*(5-i))
    else:
        print(" "*(8-i)+"* "*(i-3))

* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

In [267]:
for i in range(0,9):
    if i<5:
        print(" "*(4-i)+"* "*(1+i))
    else:
        print(" "*(i-4)+"* "*(9-i))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

# Pattern using nested for loop

In [10]:
for i in range(5):
    for j in range(5):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [11]:
for i in range(5):
    print("*")

*
*
*
*
*

In [12]:
for i in range(5):
    print("*",end="")

*****

In [15]:
for i in range(5):
    print("*",end="")
for i in range(5):
    print("*",end="")

**********

In [17]:
for i in range(5):
    print("*",end="")
print()
for i in range(5):
    print("*",end="")

*****
*****

In [24]:
for i in range(1):      # work is Repetation and In Technical Term it means Retendency
    print("*",end="")
print()
for i in range(2):
    print("*",end="")       
print()
for i in range(3):
    print("*",end="")
print()
for i in range(4):
    print("*",end="")
print()
for i in range(5):
    print("*",end="")

*
**
***
****
*****

In [31]:
for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [47]:
for i in range(5):
    for j in range(5-i):
        print("*",end="")
    print()

*****
****
***
**
*

In [53]:
for i in range(5):
    for j in range(5-i):
        print("*",end="")
    print()

*****
****
***
**
*

# Comprehension
    > list comprehension
    > set comprehension
    > dictionary comprehension
    > tuple comprehension (generator)

# list comprehension

In [54]:
range(10)

range(0, 10)

In [55]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [58]:
a=[]
for i in range(10):
    a.append(i)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
a=[]
for i in range(10):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# set comprehension

In [65]:
b=set()
for i in range(10):
    b.add(i)
print(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# dictionary comprehension

In [67]:
c={i for i in range(10)}

In [68]:
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [69]:
a=[1,2,3,4,5]
b=["Tarun","Mohan","sohan","Rohan","Vinay"]
for i in a,b:
    print(i)

In [71]:
for i in a,b:
    print(i)

[1, 2, 3, 4, 5]
['Tarun', 'Mohan', 'sohan', 'Rohan', 'Vinay']

In [72]:
a,b

([1, 2, 3, 4, 5], ['Tarun', 'Mohan', 'sohan', 'Rohan', 'Vinay'])

In [73]:
a=[1,2,3,4,5]
b=["Tarun","Mohan","sohan","Rohan","Vinay"]
for i,j in a,b:
    print(i,j)

ValueError: too many values to unpack (expected 2)

In [75]:
a=[1,2,3,4,5]
b=["Tarun","Mohan","sohan","Rohan","Vinay"]
for i,j in zip(a,b):
    print(i,j)

1 Tarun
2 Mohan
3 sohan
4 Rohan
5 Vinay

In [77]:
d={}   # d=dict()
a=[1,2,3,4,5]
b=["Tarun","Mohan","sohan","Rohan","Vinay"]
for i,j in zip(a,b):
    d.update({i:j})
print(d)

{1: 'Tarun', 2: 'Mohan', 3: 'sohan', 4: 'Rohan', 5: 'Vinay'}

# dictionary comprehension

In [81]:
e={i:j for i,j in zip(a,b)}
print(e)

{1: 'Tarun', 2: 'Mohan', 3: 'sohan', 4: 'Rohan', 5: 'Vinay'}

In [82]:

h={c:d for c,d in zip([11,22,33,44,55],["mann","Kumar","Rana","Dahiya","Rathi"])}
print(h)

{11: 'mann', 22: 'Kumar', 33: 'Rana', 44: 'Dahiya', 55: 'Rathi'}

# tuple comprehension (generator)

# date 08.08.2023

> frozenset comprehension

> break

> continue

> pass

In [1]:
# Frozenset Comprehension    This is immutable data type and  not creat generater.

In [6]:
a=frozenset()
for i in range(10):
    a=a.union(frozenset({i}))

In [7]:
print(a)

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [17]:
a=frozenset()
for i in range(10):
    a=a.union({i})
print(a)

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [18]:
a=frozenset()
for i in range(10):
    a=a.union({i})
    print(a)

frozenset({0})
frozenset({0, 1})
frozenset({0, 1, 2})
frozenset({0, 1, 2, 3})
frozenset({0, 1, 2, 3, 4})
frozenset({0, 1, 2, 3, 4, 5})
frozenset({0, 1, 2, 3, 4, 5, 6})
frozenset({0, 1, 2, 3, 4, 5, 6, 7})
frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8})
frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [16]:
a=frozenset()
a=a.union({1})
print(a)

frozenset({1})

In [19]:
frozenset({i for i in range(10)})

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

> continue

> break

> pass

# continue keywork

> always use inside a loop

In [24]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [32]:
# we want 2 hello world will not be print.

for i in range(5):       # isme 'continue keyword' ke through hum jo bhe value print nai karwana cahate \n
    if i==2:             # wo print nai hoga.
        continue
    print(i,"Hello World")

0 Hello World
1 Hello World
3 Hello World
4 Hello World

In [33]:
for i in range(5):       # isme 'continue keyword' ke through hum jo bhe value print nai karwana cahate \n
    if i==2 or i==3:             # wo print nai hoga.
        continue
    print(i,"Hello World")

0 Hello World
1 Hello World
4 Hello World

In [37]:
for i in range(10):       
    if i==2 or i==3 or i==7 or i==8:          
        continue
    print(i,"Hello World")

0 Hello World
1 Hello World
4 Hello World
5 Hello World
6 Hello World
9 Hello World

In [39]:
for i in range(10):       
    if i in[2,3,5,7,9]:          
        continue
    print(i,"Hello World")

0 Hello World
1 Hello World
4 Hello World
6 Hello World
8 Hello World

In [45]:
for i in range(10):       
    if i in[2,3,5,7]:          
        continue
    elif i in [4,8]:
        print(i,"namaste bhai")
    else:
        print(i,"Hello World")

0 Hello World
1 Hello World
4 namaste bhai
6 Hello World
8 namaste bhai
9 Hello World

In [49]:
for i in range(10):       
    if i in[2,3,5,7,9]:          
        continue
    elif i in [4,8]:
        print(i,"namaste bhai")
    print(i,"Hello World")

0 Hello World
1 Hello World
4 namaste bhai
4 Hello World
6 Hello World
8 namaste bhai
8 Hello World

# Break keyword

> use inside loop only

In [42]:
for i in range(10):       
    if i==2:          
        break
    print(i,"Hello World")

0 Hello World
1 Hello World

# Pass

In [54]:
num1=int(input("enter a number: "))
if num1%2==0:
    print("this no is even")
else:
    print("this no is odd",end=", ")

print("hello world")

enter a number:  11

this no is odd, hello world

In [57]:
num1=int(input("enter a number: "))
if num1%2==0:
    pass
else:
    print("this no is odd",end=", ")

print("hello world")

enter a number:  10

hello world

In [58]:
num1=int(input("enter a number: "))
if num1%2==0:
    
else:
    print("this no is odd",end=", ")

print("hello world")

IndentationError: expected an indented block after 'if' statement on line 2 (2210340956.py, line 4)

In [61]:
num1=int(input("enter a number: "))
if num1%2==0:
    print("even number ",end=", ")
else:
    pass

print("hello world")

enter a number:  11

hello world

In [63]:
for i in range(5):
    print("hello world")
print("This is krishna")

hello world
hello world
hello world
hello world
hello world
This is krishna

In [65]:
for i in range(5):
    pass
print("This is krishna")

This is krishna

# Date:- 09.08.2023

# while loop
        > single while loop
        > nested while loop
        > pattern using simple while loop
        > pattern using nested while loop
        > break
        > continue
        > pass

initializer
while condition:
    statement(s)
    increment/decrement

In [80]:
i=1                        # i is variable and 1 is initializer
while i<=5:                   # conditional programming
    print("hello world")
    i=i+1                     # It is increment

hello world
hello world
hello world
hello world
hello world

In [1]:

i=0
while i<5:
    print("*"*(i+1))
    i=i+1

*
**
***
****
*****

In [4]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
i=0
while i<5:
    print(i)
    i=i+1     # i+=1

0
1
2
3
4

In [7]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
i=0
while i<5:
    print(a[i])
    i=i+1

Krishna
Mohan
Shyam
Radhey
Murli

In [8]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
for i in a:
    print(i)

Krishna
Mohan
Shyam
Radhey
Murli

In [17]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
i=0
while i<len(a):                 # len ka use multypal value ko print karta hai ( jab unlimited value ho)
    print(a[i])
    i=i+1

Krishna
Mohan
Shyam
Radhey
Murli

In [33]:
# print reverse value

a=["Krishna","Mohan","Shyam","Radhey","Murli"]
i=0
while i<len(a):                
    print(a[4-i])
    i=i+1

Murli
Radhey
Shyam
Mohan
Krishna

In [40]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
i=0
while i<len(a):                
    print(i+1,a[-(i+1)],sep="=")
    i=i+1

1=Murli
2=Radhey
3=Shyam
4=Mohan
5=Krishna

In [47]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
i=0
while i<len(a):                
    print(i+1,"=",a[-(i+1)],sep="")
    i=i+1

1=Murli
2=Radhey
3=Shyam
4=Mohan
5=Krishna

In [48]:
print(a)

['Krishna', 'Mohan', 'Shyam', 'Radhey', 'Murli']

In [53]:
a.reverse()
print(a)

['Krishna', 'Mohan', 'Murli', 'Radhey', 'Shyam']

In [54]:
b=['Krishna', 'Mohan', 'Shyam', 'Radhey', 'Murli']

In [55]:
b.reverse()

In [56]:
print(b)

['Murli', 'Radhey', 'Shyam', 'Mohan', 'Krishna']

In [68]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
new=[]
i=0
while i<len(a):                
    new.append(a[-(i+1)])
    i=i+1

print(new)

['Murli', 'Radhey', 'Shyam', 'Mohan', 'Krishna']

In [71]:
c="KRISHNA"
c[-1::-1]

'ANHSIRK'

In [81]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
i=0
while i<len(a):                
    print(a[-(i+1)])
    i=i+1

Murli
Radhey
Shyam
Mohan
Krishna

In [76]:
c=a[-1]
print(c)

Murli

In [79]:
a[-1][-1::-1]

'ilruM'

In [82]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
i=0
while i<len(a):                
    print(a[-(i+1)][-1::-1])
    i=i+1

ilruM
yehdaR
mayhS
nahoM
anhsirK

In [83]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
new=[]
i=0
while i<len(a):  
    e=a[-(i+1)]
    f=e[-1::-1]
    new.append(f)
    i=i+1

print(new)

['ilruM', 'yehdaR', 'mayhS', 'nahoM', 'anhsirK']

In [85]:
a=["Krishna","Mohan","Shyam","Radhey","Murli"]
new=[]
i=0
while i<len(a):  
    new.append(a[-(i+1)][-1::-1])
    i=i+1

print(new)

['ilruM', 'yehdaR', 'mayhS', 'nahoM', 'anhsirK']